:80

# Sert le SPA (aucune redirection pour ajouter ?address=)
root * /ui/build
file_server
try_files {path} /index.html

# Proxy serveur (optionnel)
@api path /api/*
reverse_proxy @api restreamer-core:8080
